<!--
  ~ Copyright © 2018 ZSO Bern Plus
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->
<span class="layers">
<button mat-stroked-button [matMenuTriggerFor]="layersMenu"><i class="material-icons">layers</i> Karten</button>
<mat-menu #layersMenu="matMenu">
  <button *ngFor="let layer of layers" mat-menu-item (click)="changeToLayer(layer)"><i *ngIf="currentLayer===layer"  class="material-icons">check_circle</i> {{layer.name}}</button>
</mat-menu>
</span>

