<!--
  ~ Copyright © 2018 ZSO Bern Plus
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<mat-card class="toolbar" *ngIf="session">
    <div class="flexContainer">
        <div class="credits">
            <div class="flexContainer" style="flex-direction: column">
                <app-credits></app-credits>
                <app-language-chooser></app-language-chooser>
            </div>
        </div>
        <div class="tools">
            <div class="flexContainer">
                <mat-card-title class="title">{{session.title}}</mat-card-title>
                <button mat-mini-fab color="primary" class="edit" [matMenuTriggerFor]="mainMenu" *ngIf="!history.showHistory">
                    <i class="material-icons">menu</i>
                </button>
                <div class="spacer"></div>
                <div class="clock">
                    <app-clock></app-clock>
                </div>
            </div>
            <mat-card-content class="flexContainer">
                <app-geocoder style="flex:1"></app-geocoder>
                <app-drawingtools *ngIf="!history.showHistory"></app-drawingtools>
                <!--<a class="mat-stroked-button" download="map.jpg"><span class="mat-button-wrapper"><i class="material-icons">photo_camera</i> Screenshot</span></a>-->
                <app-tools [drawLayer]="drawLayer" [history]="history" *ngIf="!history.showHistory"></app-tools>
                <app-layers></app-layers>
            </mat-card-content>


            <mat-menu #mainMenu="matMenu">
                <button mat-menu-item (click)="createOrLoadSession()"><i class="material-icons">swap_calls</i> {{i18n.get("createOrLoad")}}</button>
                <button mat-menu-item (click)="editSession()"><i class="material-icons">edit</i> {{i18n.get("editMap")}}</button>
                <button mat-menu-item (click)="exportSession()"><i class="material-icons">save</i> {{i18n.get("exportSession")}}</button>
                <button mat-menu-item (click)="deleteSession()"><i class="material-icons">delete</i> {{i18n.get("deleteMap")}}</button>
                <button mat-menu-item (click)="toggleHistory()"><i class="material-icons">history</i><span> {{i18n.get("history")}}</span></button>
           </mat-menu>
        </div>
    </div>
</mat-card>
