<!--
  ~ Copyright © 2018 ZSO Bern Plus
  ~
  ~ This file is part of Zivilschutzkarte 2.
  ~
  ~ Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the
  ~ Free Software Foundation, either version 3 of the License, or (at your option)
  ~ any later version.
  ~
  ~ Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~
  -->

<mat-tab-group>
    <mat-tab label="Symbol">
        <form class="signSelect">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="selectionTable">

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef class="symbolCol"> Symbol</th>
                    <td mat-cell *matCellDef="let element"><span class="imgwrapper"><img
                            [src]="getImageUrl(element.src)"/></span></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.de}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"
                    class="selectRow"></tr>
            </table>

        </form>
    </mat-tab>
    <mat-tab label="Freie Form">
        <form>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput name="label" placeholder="Name" [(ngModel)]="freeFormSign.de"/>
        </mat-form-field>
        <br/>

        <button mat-raised-button color="primary" (click)="freeForm()">OK</button>
        </form>
    </mat-tab>
</mat-tab-group>
