/*
 * Copyright © 2018 ZSO Bern Plus
 *
 * This file is part of Zivilschutzkarte 2.
 *
 * Zivilschutzkarte 2 is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation, either version 3 of the License, or (at your option)
 * any later version.
 *
 * Zivilschutzkarte 2 is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * Zivilschutzkarte 2.  If not, see <http://www.gnu.org/licenses/>.
 *
 *
 */

.signSelect {
    max-width: 80vw;
    max-height: 60vh;
}

.imgwrapper img {
    max-height: 1.8em;
    max-width: 1.8em;
}

.imgwrapper {
    display: inline-block;
    width: 2em;
    height: 3em;
    text-align: center;
}

.signSelect {

    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.selectionTable {
    width: 100%;
}

.symbolCol {
    width: 7em;
}

.selectRow {
    cursor: pointer;
}

.selectRow:hover {
    background-color: lightgray;
}

.imgdrop {
    height: 10em;
    border: 1px dashed black;
    text-align: center;
}
