<mat-card class="selection" *ngIf="selectedSignature!=null">
    <mat-card-content *ngIf="!mergeMode">
        <div>
            <mat-card>
                <mat-card-content>
                    <div class="imgwrapper" *ngIf="selectedSignature.src"><img
                            [src]="getImageUrl(selectedSignature.src)"/></div>
                    <div *ngIf="i18n.getLabelForSign(selectedSignature)"
                         class="label">{{i18n.getLabelForSign(selectedSignature)}}</div>
                    <mat-form-field>
                        <mat-label>{{i18n.get('name')}}</mat-label>
                        <input type="text" matInput [(ngModel)]="selectedSignature.label"
                               *ngIf="!selectedSignature.text"/>
                        <textarea matInput [(ngModel)]="selectedSignature.text" (ngModelChange)="redraw()"
                                  *ngIf="selectedSignature.text"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{i18n.get("color")}}:</mat-label>
                        <input matInput type="color" name="color" [(ngModel)]="selectedSignature.color"
                               (ngModelChange)="redraw()"/>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-expansion-panel *ngIf="selectedSignature.type!=='Point' && !selectedSignature.text">
                <mat-expansion-panel-header>
                    <mat-panel-title>Linie</mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>{{i18n.get("type")}}:</mat-label>
                    <select #ctrl="ngModel" matNativeControl [(ngModel)]="selectedSignature.style"
                            (ngModelChange)="redraw()">
                        <option value="solid">{{i18n.get("solidLine")}}</option>
                        <option value="dash">{{i18n.get("dashedLine")}}</option>
                    </select>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>{{i18n.get("width")}}</mat-label>
                    <mat-slider [max]="4"
                                [min]="0.1"
                                [step]="0.1"
                                [(ngModel)]="selectedSignature.strokeWidth" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="selectedSignature.type==='Polygon'">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{i18n.get("fillPattern")}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>{{i18n.get("type")}}:</mat-label>
                    <select #ctrl="ngModel" matNativeControl [(ngModel)]="selectedSignature.fillStyle.name"
                            (ngModelChange)="redraw()">
                        <option value="filled">{{i18n.get("filled")}}</option>
                        <option value="hatch">{{i18n.get("hatched")}}</option>
                        <option value="cross">{{i18n.get("crossed")}}</option>
                    </select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{i18n.get("opacity")}}:</mat-label>
                    <mat-slider #ctrl="ngModel"
                                [max]="1"
                                [min]="0.01"
                                [step]="0.05"
                                [(ngModel)]="selectedSignature.fillOpacity" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>
                <mat-form-field
                        *ngIf="selectedSignature.fillStyle && selectedSignature.fillStyle.name && selectedSignature.fillStyle.name !== 'filled'">
                    <mat-label>{{i18n.get("width")}}</mat-label>
                    <mat-slider [max]="10"
                                [min]="1"
                                [step]="0.1"
                                [(ngModel)]="selectedSignature.fillStyle.size" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>

                <mat-form-field
                        *ngIf="selectedSignature.fillStyle && selectedSignature.fillStyle.name && selectedSignature.fillStyle.name !== 'filled'">
                    <mat-label>{{i18n.get("spacing")}}</mat-label>
                    <mat-slider [max]="20"
                                [min]="5"
                                [step]="0.1"
                                [(ngModel)]="selectedSignature.fillStyle.spacing" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>

                <mat-form-field
                        *ngIf="selectedSignature.fillStyle && selectedSignature.fillStyle.name && selectedSignature.fillStyle.name === 'hatch'">
                    <mat-label>{{i18n.get("angle")}}</mat-label>
                    <mat-slider [max]="180"
                                [min]="0.1"
                                [step]="0.1"
                                [(ngModel)]="selectedSignature.fillStyle.angle" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="!selectedSignature.text" class="noPadding">
                <mat-expansion-panel-header>
                        <mat-panel-title>{{i18n.get('symbol')}}</mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-flat-button *ngIf="!selectedSignature.src" (click)="chooseSymbol()">
                    <i  class="material-icons">stars</i><span>{{i18n.get("selectSymbol")}}</span></button>
                <button mat-flat-button *ngIf="selectedSignature.src" (click)="chooseSymbol()">
                    <i class="material-icons">cached</i><span>{{i18n.get("replaceSymbol")}}</span></button>
                <button mat-flat-button  *ngIf="selectedSignature.src" (click)="removeSymbol()">
                    <i class="material-icons">delete_forever</i><span>{{i18n.get("removeSymbol")}}</span></button>
                <div class="filter">
                    <mat-checkbox *ngIf="selectedSignature.src" [(ngModel)]="selectedSignature.hideIcon" class="filter" (ngModelChange)="redraw()">{{i18n.get('hideSymbol')}}</mat-checkbox>
                </div>
                <mat-form-field *ngIf="selectedSignature.src"><input type="text" matInput hidden value="-"/></mat-form-field>
                <mat-form-field *ngIf="selectedSignature.src">
                    <mat-label>{{i18n.get("symbolOffset")}}</mat-label>
                    <mat-slider [max]="5000"
                                [min]="0.1"
                                [step]="100"
                                [(ngModel)]="selectedSignature.iconOffset" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                    <mat-checkbox [(ngModel)]="selectedSignature.flipIcon" class="filter" (ngModelChange)="redraw()">{{i18n.get("symbolAlignRight")}}</mat-checkbox>

                </mat-form-field>

                <mat-form-field *ngIf="selectedSignature.src && !selectedSignature.hideIcon">
                    <mat-label>{{i18n.get("rotate")}}</mat-label>
                    <mat-slider
                            [max]="180"
                            [min]="-180"
                            [step]="1"
                            [ngModel]="rotationPercent"
                            (ngModelChange)="setRotation($event)">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="selectedSignature.text">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{i18n.get('font')}}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <mat-label>{{i18n.get("fontSize")}}</mat-label>
                    <mat-slider [max]="4"
                                [min]="0.1"
                                [step]="0.1"
                                [(ngModel)]="selectedSignature.fontSize" (ngModelChange)="redraw()">
                    </mat-slider>
                    <input type="text" matInput hidden value="-"/>
                </mat-form-field>
            </mat-expansion-panel>

            <mat-expansion-panel id="functionsPanel" class="noPadding">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{i18n.get('functions')}}</mat-panel-title>
                </mat-expansion-panel-header>
                <button mat-flat-button (click)="bringToFront()">
                    <i
                            class="material-icons">arrow_upward</i><span>{{i18n.get("moveToTop")}}</span></button>
                <button mat-flat-button (click)="sendToBack()">
                    <i
                            class="material-icons">arrow_downward</i><span>{{i18n.get("moveToBottom")}}</span></button>
                <button mat-flat-button (click)="split()"
                        *ngIf="(selectedSignature.type==='Polygon' || selectedSignature.type==='MultiPolygon') && canSplit">
                    <i
                            class="material-icons">call_split</i><span>{{i18n.get("ungroup")}}</span></button>
                <button mat-flat-button (click)="merge(true)"
                        *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='MultiPolygon'"><i
                        class="material-icons">call_merge</i><span>{{i18n.get("group")}}</span></button>
                <button mat-flat-button (click)="drawHole()" [disabled]="drawHoleMode"
                        *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='MultiPolygon'"><i
                        class="material-icons">vignette</i><span>{{i18n.get("drawHole")}}</span></button>
                <button mat-flat-button (click)="editCoordinates()"
                        *ngIf="!sharedState.defineCoordinates.getValue() && selectedSignature.type==='Polygon'"><i
                        class="material-icons">format_shapes</i><span>{{i18n.get("defineCoordinates")}}</span></button>
            </mat-expansion-panel>
        </div>
        <button class="primarybutton" mat-raised-button color="warn" (click)="delete()"><i
                        class="material-icons">delete</i><span>{{i18n.get("delete")}}</span></button>
    </mat-card-content>
    <mat-card-content *ngIf="mergeMode">
        <div>{{i18n.get('chooseGroupingArea')}}</div>
        <button mat-raised-button (click)="merge(false)" [disabled]="drawHoleMode"
                *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='MultiPolygon'"><i
                class="material-icons">cancel</i><span> {{i18n.get("cancelGrouping")}}</span></button>
    </mat-card-content>
</mat-card>
