<mat-card class="selection" *ngIf="selectedSignature!=null">
    <mat-card-content>
        <div class="imgwrapper" *ngIf="selectedSignature.src!=null"><img [src]="getImageUrl(selectedSignature.src)"/></div>
        <div class="imgcustomwrapper" *ngIf="selectedSignature.dataUrl!=null"><img [src]="selectedSignature.dataUrl"/></div>

        <div *ngIf="selectedSignature.de!=null" class="label">{{selectedSignature.de}}</div>
        <div *ngIf="selectedSignature.text!=null" class="label">{{selectedSignature.text}}</div>
        <div class="buttonPanel">
            Rotieren:
        <mat-slider
                [max]="180"
                [min]="-180"
                [step]="1"
                [ngModel]="rotationPercent"
                (ngModelChange)="setRotation($event)">
        </mat-slider>

        </div>
        <div class="buttonPanel" *ngIf="selectedSignature.type==='Polygon'">
            Transparenz:
            <mat-slider #ctrl="ngModel"
                        [max]="1"
                    [min]="0"
                    [step]="0.1"
                    [(ngModel)]="selectedSignature.fillOpacity" (ngModelChange)="redraw()">
            </mat-slider>
        </div>

        <div class="buttonPanel" *ngIf="selectedSignature.kat===null">
            Farbe: <mat-form-field>
                <input matInput type="color" name="color" #ctrl="ngModel" [(ngModel)]="selectedSignature.color" (ngModelChange)="redraw()"/>
            </mat-form-field>
        </div>
        <div class="buttonPanel">
            <button mat-raised-button color="primary" (click)="delete()">Löschen</button>
        </div>
    </mat-card-content>
</mat-card>
