.selection{
    position:absolute;
    bottom:1em;
    left:1em;
    background-color: white;

}

.imgwrapper{
    height:4em;
    text-align:center;
}

.imgwrapper img{
    max-height: 3em;
    max-width: 3em;
}

.imgcustomwrapper{
    text-align: center;
}
.imgcustomwrapper img{
    width: 6em;
}

.buttonPanel{
    margin-top:0.5em;
    text-align: center;
}

.label{
    text-align:center;
}