mat-card.selection{
    position:absolute;
    bottom:0;
    left:0;
    background-color: #f1f1f1;
    margin-bottom: 0;
}

mat-card, mat-expansion-panel {
    margin-bottom: 1em;
}

mat-form-field{
    display: block;
}

mat-slider{
    width: 100%;
}

.imgwrapper{
    height:4em;
    text-align:center;
}

.imgwrapper img{
    max-height: 3em;
    max-width: 3em;
}

.imgcustomwrapper{
    text-align: center;
}
.imgcustomwrapper img{
    width: 6em;
}

.buttonPanel{
    margin-top:0.5em;
    text-align: center;
}

.label{
    text-align:center;
    margin-bottom: 2em;
}

.menu-wrapper{
    text-align:right;
}

.menu{
    transform: scale(0.6);
}

#functionsPanel .mat-expansion-panel-header {
    background-color: #3f51b5;
}

#functionsPanel .mat-expansion-panel-header * {
    color: white;
}



#functionsPanel button{
    display: block;
    width: 100%;
    text-align: left;
}

#functionsPanel button i{
    margin-right: 1em;

}