<mat-card class="selection" *ngIf="selectedSignature!=null">
    <mat-card-content>
        <div class="imgwrapper" *ngIf="selectedSignature.src!=null"><img [src]="getImageUrl(selectedSignature.src)"/>
        </div>
        <div class="imgcustomwrapper" *ngIf="selectedSignature.dataUrl!=null"><img [src]="selectedSignature.dataUrl"/>
        </div>

        <div *ngIf="selectedSignature[i18n.locale]!=null" class="label">{{selectedSignature[i18n.locale]}}</div>
        <div *ngIf="selectedSignature.text!=null" class="label">{{selectedSignature.text}}</div>
        <div>
            <mat-form-field *ngIf="selectedSignature.kat!==null">
                <mat-label>{{i18n.get("rotate")}}</mat-label>
                <mat-slider
                        [max]="180"
                        [min]="-180"
                        [step]="1"
                        [ngModel]="rotationPercent"
                        (ngModelChange)="setRotation($event)">
                </mat-slider>
                <input type="text" matInput hidden value="-"/>
            </mat-form-field>
            <mat-form-field *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='Circle'">
                <mat-label>{{i18n.get("opacity")}}:</mat-label>
                <mat-slider #ctrl="ngModel"
                            [max]="1"
                            [min]="0"
                            [step]="0.05"
                            [(ngModel)]="selectedSignature.fillOpacity" (ngModelChange)="redraw()">
                </mat-slider>
                <input type="text" matInput hidden value="-"/>
            </mat-form-field>

            <mat-form-field *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='Circle'">
                <mat-label>{{i18n.get("lineWidth")}}</mat-label>
                <mat-slider [max]="4"
                            [min]="1"
                            [step]="0.1"
                            [(ngModel)]="selectedSignature.strokeWidth" (ngModelChange)="redraw()">
                </mat-slider>
                <input type="text" matInput hidden value="-"/>
            </mat-form-field>

            <mat-form-field *ngIf="selectedSignature.type!=='Point'">
                <mat-label>{{i18n.get("line")}}:</mat-label>
                <select #ctrl="ngModel" matNativeControl [(ngModel)]="selectedSignature.style"
                        (ngModelChange)="redraw()">
                    <option value="">{{i18n.get("solidLine")}}</option>
                    <option value="dash">{{i18n.get("dashedLine")}}</option>
                </select>
            </mat-form-field>

            <mat-form-field *ngIf="selectedSignature.kat===null">
                <mat-label>{{i18n.get("color")}}:</mat-label>
                <input matInput type="color" name="color" [(ngModel)]="selectedSignature.color"
                       (ngModelChange)="redraw()"/>
            </mat-form-field>



        </div>

        <div class="buttonPanel">
            <button mat-raised-button (click)="drawHole()" [disabled]="drawHoleMode" *ngIf="selectedSignature.type==='Polygon' || selectedSignature.type==='MultiPolygon'"><i
                class="material-icons">vignette</i><span> {{i18n.get("drawHole")}}</span></button>
            <button mat-raised-button color="primary" (click)="delete()"><i
                    class="material-icons">delete</i><span>{{i18n.get("delete")}}</span></button>
        </div>
    </mat-card-content>
</mat-card>
